<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card row col-9 my-2">

      <div class="card-body pet-form p-5">
        <h1>Edit your pet details</h1>
        <%= simple_form_for @pet, html: { multipart: true, data: { turbo: false }, class: 'needs-validation', novalidate: '' } do |f| %>
          <div class="form-group my-2">
            <%= f.input :name, required: true, input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :gender, collection: Pet::GENDER, prompt: "Select Gender", required: true, input_html: { class: 'form-control custom-select' } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :age, required: true, input_html: { class: 'form-control', type: 'number', min: 0 } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :location, required: true, input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :description, required: true, input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :price_per_day, required: true, input_html: { class: 'form-control', type: 'number', step: '0.01', min: 0 } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :is_available, as: :select, collection: [[true, 'Available'], [false, 'Not Available']], required: true, input_html: { class: 'form-control custom-select' } %>
          </div>
          <div class="form-group my-2">
            <%= f.association :species, required: true, input_html: { class: 'form-control custom-select' } %>
          </div>
          <div class="form-group my-2">
            <%= f.association :breed, required: true, input_html: { class: 'form-control custom-select' } %>
          </div>
          <div class="form-group my-2">
            <%= f.input :photo, as: :file, input_html: { class: 'form-control-file' } %>
          </div>
          <%= f.submit "Update My Pet", class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
