
<div class="container">
  <div class="row justify-content-center">
    <div class="row col-9 my-5">

      <div class="pet-form p-5">
        <h1>Add your pet details</h1>
        <%= simple_form_for @pet do |f| %>
          <%= f.input :name %>
          <%= f.input :gender, collection: Pet::GENDER %>
          <%= f.input :age %>
          <%= f.input :location %>
          <%= f.input :description %>
          <%= f.input :price_per_day %>
          <%= f.input :is_available, as: :select %>
          <%= f.input :species, collection: Species.all %>
          <%= f.input :breed, collection: Breed.all %>
          <%= f.submit "Save My Pet", class: "btn btn-flat" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
