      <div class="container col-12-sm col-6-md col-6-lg">
        <div class="card d-flex justify-content-space-between">
          <%= cl_image_tag @pet.photo.key, class: "card-img-left", alt: "pet_image"%>
          <div class="card-body">
            <h2 class="card-title"><strong><%= @pet.name %></strong></h2>
            <p class="card-text"><strong>Description:</strong> <%= @pet.description %></p>
            <p class="card-text"><strong>Gender:</strong> <%= @pet.gender %></p>
            <p class="card-text"><strong>Age:</strong> <%= @pet.age %> years</p>
            <p class="card-text"><strong>Breed:</strong> <%= @pet.breed.name %></p>
            <p class="card-text"><strong>Species:</strong> <%= @pet.species.name %></p>
            <p class="card-text"><strong>Location:</strong> <%= @pet.location %></p>
            <p class="card-text"><strong>Price Info:</strong> AED <%= @pet.price_per_day %> / day</p>
            <hr>
            <h2 class="card-title"><strong>Owner Details</strong></h2>
            <p class="card-text"><strong>Name:</strong> <%= @pet.user.first_name %> <%= @pet.user.last_name %></p>
            <p class="card-text"><strong>Average Rating:</strong> <%= @pet.user.average_rating %></p>
            <%= link_to 'Request Booking', new_pet_booking_path(@pet), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
