      <div class="container col-12-sm col-6-md col-6-lg">
        <div class="card d-flex justify-content-space-between">
          <%= cl_image_tag @booking.pet.photo.attached? ? @booking.pet.photo.key : "snvvma0kjax51gieabby", class: "card-img-left", alt: "pet_image"%>
            <div class="card-body">
            <h2 class="card-title"><strong><%= @booking.pet.name %></strong></h2>
            <p class="card-text"><strong>From Date:</strong> <%= @booking.date_start %></p>
            <p class="card-text"><strong>To Date:</strong> <%= @booking.date_end %></p>
            <p class="card-text"><strong>Number of Days:</strong> <%= @booking.date_end %></p>
            <p class="card-text"><strong>Price per Day:</strong> <%= @booking.pet.price_per_day %> AED</p>
            <p class="card-text"><strong>Total Amount: </strong> <%= @booking.total_amount.nil? ? "0.00" : @booking.total_amount %> AED </p>
            <p class="card-text"><strong>Status:</strong>  <%= @booking.status %></p>
            <hr>
            <h2 class="card-title"><strong>Renter Details</strong></h2>
            <p class="card-text"><strong>Name:</strong> <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
            <p class="card-text"><strong>Average Rating:</strong> <%= @booking.user.average_rating %></p>
            <a href="<%=@booking.id%>/approve", class="btn btn-primary"> Approve </a>    <a href="<%=@booking.id%>/reject", class="btn btn-primary"> Reject </a>
          </div>
        </div>
      </div>
